@import "../assets/styles/project-style";

/* Scrollbar */

::ng-deep ::-webkit-scrollbar {
  width: 2px;
  height: 2px;
}

::ng-deep ::-webkit-scrollbar-track {
  background: #e8e8e8;
}

::ng-deep ::-webkit-scrollbar-thumb {
  background: $primary-color;
}

::ng-deep ::-webkit-scrollbar-thumb:hover {
  background: $secondary-color;
}
