@import "../../../assets/styles/project-style";

.toolbar {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  height: 60px;
  background-color: $primary-color;
  color: white;
  box-shadow: 0 0 8px 0 $secondary-color;
  -webkit-box-shadow: 0 0 3px 0 $secondary-color;

  img {
    margin: 0 16px 0 16px;
    border-radius: 100%;
    width: 40px;
    height: 40px;
  }

  mat-icon {
    margin: 0 16px 12px 0;
    font-size: xx-large;
    cursor: pointer;
  }
}
